//Colores
$diy: #5fcdaa;
$dark: #444;
$back: #fff;
$line: rgba(#bfbfbf, .5);


//Fonts
$titulo: Abril Fatface;
$base: Roboto Mono;


//sombras & hover
$vol: 0 0 1px 0 rgba(#000, .1), 0 4px 5px 0 rgba(#000, .1), inset 0 0 2px 0 rgba(#fff, .7);
$hvol: 0 0 1px 0 rgba(#000, .1), 0 7px 10px 0 rgba(#000, .1), inset 0 0 5px 0 rgba(#fff, .7);

$volg: 0 0 1px 0 rgba(#000, .1), 0 2px 5px 0 rgba(#000, .1);
$hvolg: 0 0 1px 0 rgba(#000, .1), 0 10px 30px 0 rgba(#000, .1);

//Base
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: .3s;
    color: $dark;
    font-family: $base;
    h1 {
        font-family: $titulo;
        line-height: 1.1;
    }
}

html, body {
    width: 100%;
    height: 100%;
    background: #f9f9f9;
}
