.user-bar {
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba($back, .9);
    z-index: 998;
    box-shadow: 0 0 50px 20px rgba($back, .9);
    transition: .5s;
}

.user-bar-hide {
    top: -200px;
}

.search-bar {
    width: 75%;
    display: flex;
    background: #fff;
    border-radius: 30px;
    margin: 20px 0;
    padding: 6px;
    box-shadow: inset 0 0 5px 0 rgba(#000, .2);
    border: 1px solid $line;
}

.search-input {
    width: 100%;
    height: 35px;
    background: transparent;
    padding: 10px 20px;
    font-family: $base, FontAwesome;
    font-size: 15px;
    border: none;
    outline: none;
}

.signup, .signin {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $base, FontAwesome;
    font-size: 12px;
    padding: 10px;
    transition: 0s;
    &:hover {
        background: $diy;
        color: #fff;
        border-radius: 20px;
    }
}

.user-btn {
    height: 40px;
    margin: 0 10px;
    opacity: 1;
    &:hover {
        transform: scale(1.5, 1.5);
        transform-origin: top left
    }
}

.user-hide {
    display: none;
}

.sections {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid rgba($line, .5);
    border-radius: 25px;
    padding: 4px 3px;
    margi: 10px 0;
    box-shadow: inset 0 0 5px 0 rgba(#000, .2);
}

.section {
    text-align: center;
    padding: 7px;
    font-size: 12px;
    color: rgba($dark, .8);
    border-radius: 20px;
    margin: 6px 2px;
    &:hover {
        background: $diy;
        color: #fff;
    }
}

.section-selected {
    background: $diy;
    color: #fff;
}

@keyframes slideUp {
    from {transform: translateY(0)}
    to {transform: translateY(-300px)}
}

@keyframes slideDown {
    from {transform: translateY(0)}
    to {transform: translateY(300px)}
}
