<div class="registrate">
    <img src="img/footer.svg" alt="footer">
    <div class="footer-claim">
        <h1 class="footer-titulo">¡Únete a la familia!</h1>
        <p class="footer-text">Guarda tus contenidos preferidos, valora y comparte tu opinión sobre los tutoriales que más te gusten y descárgate gratis contenido exclusivo DIYclub.</p>
        <a href="#" class="footer-btn">SUSCRIBETE</a>
    </div>
</div>
<div class="footer-bar">
    <p>DIYclub© Copyright 2017 | Todos los derechos reservados | <a href="mailto:hola@diyclub.es">hola@diyclub.es</a> | </p>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-youtube-play"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
</div>
