<div class="signup-container">
    <div class="left-sign">
        <h1>Bienvenido a DIYCLUB!</h1>
        <h3>REGISTRATE CON UNOS SIMPLES PASOS</h3>
    </div>
    <div class="right-sign">
        <div class="modal-cerrar"><i class="fa fa-times"></i></div>
        <input id="txtEmail" type="mail" placeholder="Correo electrónico">
        <input id="txtPass" type="password" placeholder="Contraseña">
        <input id="btnSignup" type="button" value="Registrate">
    </div>
</div>

<script type="text/javascript" src="../js/app.js"></script>
<script type="text/javascript" src="../js/user.js"></script>
<script type="text/javascript" src="../js/modal.js"></script>
